Design/__pycache__/baixa_encomenda.cpython-38.pyc
Design/__pycache__/listar_encomendas.cpython-38.pyc
Design/__pycache__/menu_principal.cpython-38.pyc
Design/__pycache__/nova_encomenda.cpython-38.pyc
Scripts/__pycache__/xlsx_to_list.cpython-38.pyc
